body{
	background: #232323;
	margin: 0;
	font-family: "Arial";
}
 
.circles{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 100%;
	transition: background 1.0s;
	color: rgb(20, green, blue);
	cursor: pointer;
}

 #container{
 	max-width: 620px;
 	margin: 20px auto;
 }
.heading{
 	text-align: center;
 	font-weight: normal;
 	background: steelblue;
 	margin: 0;
 	color: white;
 	text-transform: uppercase;
 	padding: 20px 0;
 }
#message{
	color: steelblue;
	font-size: 25px;
	border-radius: 15%;
	display: inline-block;
	width: 20%;
	transition: 0.6s;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected{
  color: white;
  background: steelblue;
}

#colorDisplay{
	font-size: 200%;
	margin: 2%;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
	color: steelblue;
	font-weight: normal;
	text-align: center;
	transition: 0.4s;
	outline: none;
}

button:hover{
	color: white;
	background: steelblue;
}

.selected{
	background-color: steelblue;
}